/*
Theme Name: SilverCrest Luxury Homes Child
Template: silvercrest
Theme URI: 
Author: Longevity Graphics
Author URI: 
Description: 
Version: 1.1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: silvercrest
Tags: 

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

homebuilder is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/
.cover_text .sub_title {
    font-family: none !important;
    transition: font-size 0.3s ease 0s;
}

.font-italic {
    font-style: normal !important;
}

body  {color:#808080 !important;}
.featured-body {color:#808080 !important;}
